@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,*::before, ::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(204, 43%, 93%);
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
}

.container{
  margin: 0 auto;
  max-width: 60rem;

}
.wrapper{
  display: grid;
  border-radius: 0.4375rem;
  overflow: hidden;
  background-color: white;
  grid-template-columns: 50% 50%;
  grid-template-areas: "a a" "b c";
  margin: 2rem 1rem;
}
.box{
  padding: 2.5rem;
}
.join{
  grid-area: a;
}
.join p{
  color: hsl(218, 22%, 67%);
  line-height: 1.4;
}
h2{
  color: white;
  font-size: 1.25rem;
  padding-bottom: 0.9375rem;
}
h5{
  display:flex;
  align-items: center;
  padding-bottom: 0.75rem;

}
h5 span.price{
  color: white;
  font-size: 1.6875rem;
  font-weight: 700;
  padding-right: 0.625rem;
}
h5 span{
  color: hsl(204, 43%, 93%);
  font-weight: 400;
}
.box-left{
  grid-area: b;
  background-color:hsl(179, 62%, 43%);
}
.box-left p{
color: white;
}
.box-left a{
  display: block;
  text-align: center;
  background-color: hsl(71, 73%, 54%);
  text-decoration: none;
  color: white;
  font-size: 0.8125rem;
  font-weight: 800;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  margin-top: 1.875rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem lightgreen;
  cursor: pointer;
}
a:hover{
  background-color: white;
  color: hsl(71, 73%, 54%);
  transition: .5s ease-in;
}
.box-right{
  grid-area: c;
  background-color:hsl(179, 62%, 43%, 0.8);
}
h1{
  color: hsl(179, 62%, 43%);
  font-size: 1.625rem;
  padding-bottom: 1.25rem;
}
h3{
  color: hsl(71, 73%, 54%);
  padding-bottom: 0.75rem;
}
.box-right ul{
list-style: none;
}
.box-right li{
  color: white;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
}

@media only screen and (max-width:26.5625rem){
  body{
    background-image: url(images/background.jpeg);
    background-size: cover;
  }
 .wrapper{
  display: flex;
  flex-direction: column;
 }
 .box{
  padding: 0.9375rem;
 }

}
  

